@using MVCWebApp.Services.Views
@inject Breadcrumb BreadcrumbService

@{
    var breadcrumbs = new List<string>
    {
        "Homepage", "Fruit and Vegatables", "Carrot from Brian's Farm"
    };
}

<div class="breadcrumb-wrapper px-2">
    <ul class="breadcrumb">
        @foreach (var item in BreadcrumbService.GetBreadcrumbs(ViewContext))
        {
            <li class="breadcrumb-item">
                <a href="#">@item</a>
            </li>
        }
    </ul>
</div>