
@{
    var tags = new List<string>
    {
        "Beans", "Carrots", "Apple", "Garlic", "Fresh Food", "Lemons", "Cherries", "Meat", "Oranges", "Bananas"
    };
}

<div class="product-tags">
    <h5 class="title mb-3">Product Tags</h5>
    <ul>
        @foreach (var tag in tags)
        {
            <li class="tag bg-light">@tag</li>
        }
    </ul>
</div>