@using DataAccess.Models
@model List<Product>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_3-9";


    var productList = Model;
}

@section LeftSideMenu
{
    <div>
        <Partial name="Components/SideFilters/SideFilters"/>
    </div>
}

@* Main *@
<div>
    <div class="body-section">
        <div class="product-view-switch text-right mb-3">
            <a class="grid-filter">
                <i class="fas fa-th"></i> Grid
            </a>
            <a class="list-filter">
                <i class="fas fa-list"></i> List
            </a>
        </div>

        @if ((string) ViewData["productViewType"] == "list")
        {
            @await Html.PartialAsync("Components/ProductList/ListView", productList)
        }
        else
        {
            @await Html.PartialAsync("Components/ProductList/GridView", productList)
        }
    </div>
</div>
@section Css
{
     @* <link rel="stylesheet" href="~/bundle/views/products/products.min.css"/> *@
}

@section Scripts
{
    <script type="text/javascript" src="~/bundle/products/products.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            run()
        })
    </script>
}
