@{

}

<section class="section">
    <div class="header">
        <h3 class="title">Confirmation</h3>
        <p class="sub-title">We are getting to the end. Just few clicks and your order is ready!</p>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-12 mb-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="newslettercheck">
                    <label class="form-check-label" for="newslettercheck">I agree with sending an Marketing and new newsletter emails. No spam, promissed!</label>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="newslettercheck">
                    <label class="form-check-label" for="newslettercheck">I agree with our <a href="">terms and conditions</a> and <a href="">privacy policy</a></label>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-secondary">Complete order</button>
            </div>
        </div>
    </div>
</section>