@model List<DataAccess.Models.Product>
@{
    var orders = Model;
    var currency = "EUR";
}

<section class="order-summary section">
    <div class="header">
        <h3 class="title">Order Summary</h3>
        <p class="sub-title">Price can change depend on shipping method and taxes in your state</p>
    </div>
    <div class="body">
        <div class="row mb-4">
            @foreach (var item in orders)
            {
                <div class="col-12 mb-2">
                    @await Html.PartialAsync("Components/Product/OrderItem", item)
                </div>
            }
        </div>

        <div class="row mb-4">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <p class="left font-weight-bold">Sub Total</p>
                    <p class="right">100 @currency</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="left font-weight-bold">Tax</p>
                    <p class="right">15 @currency</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="left font-weight-bold">Shipping</p>
                    <p class="right">30 @currency</p>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-12">
                <div class="input-group no-button-border">
                    <input type="text" class="form-control" placeholder="Apply coupon code" aria-label="Apply coupon code">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Apply Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <p class="font-weight-bold total-order-key">Total Order</p>
            </div>
            <div class="col-5">
                <p class="font-weight-bold text-right total-order-price"> 89.93 @currency</p>
            </div>
        </div>
    </div>
</section>