@using DataAccess.Models
@model MVCWebApp.Controllers.Item
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_3-9-12";

    var productList = new List<Product>();
    for (var i = 0; i < 10; i++)
    {
       productList.Add( new Product()
       {
           Name = "Product Name",
           Description = "This is brief description",
           ImageUrl = "~/images/fallback-img.png",
           Price = 1.23,
           OldPrice = 9.99,
           DiscountText = "-36%",
           DeliveryCost = 0,
           DeliveryPeriod = DateTime.Today.AddDays(12),
           ExtraInfo = new Dictionary<string, string>()
           {
               {"Freshness", "New (Extra fresh)"},
               {"Farm", "Grocery Farm Fields "},
               {"Delivery", "Europe"},
               {"Stock", "320pcs"}
           }
       }
     );
    }

}

@section LeftSideMenu
{
    <div>
        <div class="mb-5">
            <Partial name="Components/CategoryMenu"/>
        </div>
        <div class="mb-5">
            <Partial name="Components/CategoryMenu"/>
        </div>
        <div class="mb-5">
            <Partial name="Components/CategoryMenu"/>
        </div>
    </div>


}

@* Main *@
<div>
    <div class="body-section">
        <Partial name="Components/HomeBanner"/>
    </div>

    <div class="body-section">
        @await Html.PartialAsync("Components/ProductList/GridView", productList)
    </div>
</div>

@section FullWidthPart
{
    <Partial name="Components/CustomerCommentsSection"/>
    <Partial name="Components/BlogsSection"/>
}