@model MVCWebApp.Controllers.Item
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_3-9-12";
}

@section LeftSideMenu
{
    <div>
        <div class="mb-5">
            <Partial name="Components/CategoryMenu"/>
        </div>
        <div class="mb-5">
            <Partial name="Components/CategoryMenu"/>
        </div>
        <div class="mb-5">
            <Partial name="Components/CategoryMenu"/>
        </div>
    </div>


}

@* Main *@
<div>
    <div class="body-section">
        <Partial name="Components/HomeBanner"/>
    </div>

    <div class="body-section">
        <div class="product-list">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <Partial name="Components/ProductCard"/>
                </div>
                <div class="col-md-4 mb-4">
                    <Partial name="Components/ProductCard"/>
                </div>
                <div class="col-md-4 mb-4">
                    <Partial name="Components/ProductCard"/>
                </div>
                <div class="col-md-4 mb-4">
                    <Partial name="Components/ProductCard"/>
                </div>
                <div class="col-md-4 mb-4">
                    <Partial name="Components/ProductCard"/>
                </div>


            </div>
        </div>
    </div>
</div>

@section FullWidthPart
{
    <Partial name="Components/CustomerCommentsSection"/>
    <Partial name="Components/BlogsSection"/>
}