@using DataAccess.Models
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_3-9-12";
    var productList = Model;
}

@section LeftSideMenu
{
    <div>
        <div class="mb-5">
            <Partial name="Components/CategoryMenu"/>
        </div>
        <div class="mb-5">
            <Partial name="Components/CategoryMenu"/>
        </div>
        <div class="mb-5">
            <Partial name="Components/CategoryMenu"/>
        </div>
    </div>


}

@* Main *@
<div>
    <div class="body-section">
        <Partial name="Components/HomeBanner"/>
    </div>

    <div class="body-section">
        @await Html.PartialAsync("Components/ProductList/GridView", productList)
    </div>
</div>

@section FullWidthPart
{
    <Partial name="Components/CustomerCommentsSection"/>
    <Partial name="Components/BlogsSection"/>
}