@{
    Layout = "_Layout";
}

<div class="row mb-5">
    <div class="col-md-3">
        <div class="px-4">
            @RenderSection("LeftSideMenu")

        </div>
    </div>
    <div class="col-md-9">
        <div class="px-4">
            @RenderBody()
        </div>
    </div>
</div>