@{
    var categories = new string[]
    {
        "Bakery", "Food and vegetables", "Meat and Fish", "Drinks", "Kitchen", "Special Nutrition"
    };
}

<header class="mb-5">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom contact-navbar">
            @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"> *@
            @*     <span class="navbar-toggler-icon"></span> *@
            @* </button> *@
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav mr-auto mt-3 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <span class="highlight-text">Chat with us</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">(+357) xxx xxx xxxx</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">vule5725@gmail.com</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            <span class="highlight-text">Blog</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="highlight-text">About Us</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="highlight-text">Careers</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white main-navbar">
            <div class="three-cols-layout">
                <div class="col">
                    <a class="navbar-brand px-2" asp-area="" asp-controller="Home" asp-action="Index">Brian's Shop</a>
                </div>
                <div class="col">
                    <form class="form-inline my-3 my-lg-0 search-form">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Categories</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </div>
                            <input type="text" class="form-control search-input" aria-label="Text input with dropdown button">
                        </div>
                    </form>
                </div>
                <div class="col">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-2 user-links">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="far fa-user"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fas fa-cart-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

    <div class="container-fluid bg-light">
        <nav class="navbar navbar-expand-lg navbar-light category-navbar">
            <div class="collapse navbar-collapse" id="category-collapse">
                <ul class="navbar-nav mr-auto row">
                    @foreach (var category in categories)
                    {
                        <li class="nav-item dropdown col">
                            <a class="nav-link dropdown-toggle" href="#" id="@category" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @category
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
    @* Breadcrumb *@
    <div class="container-fluid">
        <Partial name="Components/Breadcrumb"/>
    </div>
</header>