@{
    Layout = "_Layout";
}

<div class="row mb-5">
    <div class="col-md-7">
        <div class="px-4">
            <div class="mb-5">
                <Partial name="Components/BillInfo"/>
            </div>
            @* <div class="mb-5"> *@
            @*     <Partial name="Components/PaymentMethod"/> *@
            @* </div> *@
            <div class="mb-5">
                <Partial name="Components/AdditionalInfo"/>
            </div>
            <div class="mb-5">
                <Partial name="Components/Confirmation"/>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="px-4">
            <div id="order-summary" class="card card-body">
                <div class="vue-component"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/bundle/checkout/checkout.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            run()
        })
    </script>
}
