<div class="side-widget">
    <h5 class="title">Price</h5>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <input type="range" class="form-control-range" id="formControlRange" onInput="$('#price-range').html($(this).val())">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">

                <label class="mr-sm-2" for="min-price">Min</label>
                <input class="form-control form-control-sm" name="min-price" id="min-price" type="number" placeholder="0.00">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label class="mr-sm-2" for="max-price">Max</label>
                <input class="form-control form-control-sm" name="max-price" id="max-price" type="number" placeholder="99.99">
            </div>
        </div>
    </div>
</div>