<div>
    <form asp-action="Index" class="side-filters" id="side-filters-form">
        <div class="mb-5">
            <Partial name="Components/SideFilters/BrandListFilter"/>
        </div>
        <div class="mb-5">
            <Partial name="Components/SideFilters/CategoryCountList"/>
        </div>

        <div class="mb-5">
            <Partial name="Components/SideFilters/PriceRangeFilter"/>
        </div>
        <div class="mb-5">
            <input type="submit" class="btn btn-secondary js-btn-submit" value="Apply"/>
            <input type="button" class="btn btn-default js-btn-reset" value="Reset"/>
        </div>

    </form>

</div>
