<div>
    <form action="" class="side-filters">
        <div class="mb-5">
            <Partial name="Components/SideFilters/BrandListFilter"/>
        </div>
        <div class="mb-5">
            <Partial name="Components/SideFilters/CategoryCountList"/>
        </div>

        <div class="mb-5">
            <Partial name="Components/SideFilters/PriceRangeFilter"/>
        </div>
        <div class="mb-5">
            <input type="submit" class="btn btn-secondary" value="Apply"/>
            <input type="submit" class="btn btn-default" value="Reset"/>
        </div>

    </form>

</div>